</p></div></div> <%# Prematurely close JSDoc default template tags %>

<% if(props.length > 0) { %>
<h3 class="subsection-title" style="margin-top: 1em" data-jsdoc-vuejs="section-props">Props</h3>
<table class="params" data-jsdoc-vuejs="table-props">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default value</th>
        <th>Required?</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% props.forEach(function(prop) { %>
    <tr>
        <td class="name"><code><%- prop.name %></code></td>
        <td><code><%- renderType(prop.type) %></code></td>
        <td><%- typeof prop.defaultvalue === 'undefined' ? '-' : `<code>${prop.defaultvalue}</code>` %></td>
        <td><%- prop.optional ? 'No' : '<b>Yes</b>' %></td>
        <td><%- typeof prop.description === 'undefined' ? '-' : prop.description %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } %>

<% if(data.length > 0) { %>
<h3 class="subsection-title" style="margin-top: 1em" data-jsdoc-vuejs="section-data">Data</h3>
<table class="params" data-jsdoc-vuejs="table-data">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default value</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(d) { %>
    <tr>
        <td class="name"><code><%- d.name %></code></td>
        <td><code><%- renderType(d.type) %></code></td>
        <td><%- typeof d.defaultvalue === 'undefined' ? '-' : `<code>${d.defaultvalue}</code>` %></td>
        <td><%- typeof d.description === 'undefined' ? '-' : d.description %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } %>

<% if(computed.length > 0) { %>
<h3 class="subsection-title" style="margin-top: 1em" data-jsdoc-vuejs="section-computed">Computed</h3>
<table class="params" data-jsdoc-vuejs="table-computed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% computed.forEach(function(c) { %>
    <tr>
        <td class="name"><code><%- c.name %></code></td>
        <td><code><%- renderType(c.type) %></code></td>
        <td><%- typeof c.description === 'undefined' ? '-' : c.description %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } %>

<% if(event.length > 0) { %>
<h3 class="subsection-title" style="margin-top: 1em" data-jsdoc-vuejs="section-event">Events</h3>
<table class="params" data-jsdoc-vuejs="table-event">
    <thead>
    <tr>
        <th>Name</th>
        <th>Payload Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% event.forEach(function(c) { %>
    <tr>
        <td><code><%- c.name %></code></td>
        <td><%- renderType(c.type) %></td>
        <td><%- typeof c.description === 'undefined' ? '-' : c.description %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } %>

<div class="container-overview"><div><p> <%# Re-open JSDoc template tags %>
